#bandeau 
{
     background-color: #792626d0; /* Couleur du bandeau */
    padding: 20px; /* Espace intérieur du bandeau */
    text-align: center; /* Centrage du texte dans le bandeau */
}

/* Style pour le titre */
#titre {
     font-size: 24px; /* Taille de la police du titre */
     font-weight: bold; /* Texte en gras */
    color: #e41e1e; /* Couleur du texte dans le bandeau */}